Hi #{userName},

We have received a request to reset your password for your account associated with the email address #{email}.

To reset your password, please visit the following link:

#{resetLink}

This link will expire in 1 hour.

If you did not request a password reset, please disregard this email and your password will remain unchanged.

For additional assistance, please contact our support team at:

| adamward459@gmail.com

| Sincerely,

The trungpham.tech Team